.directory
ToDo 
*.o
*.d
modem.b*
modem.mdt
*.elf
patched_modem.img
fw_wrapper.lcs
*.pyc
disasm*.txt
fw_org_functions.*
symtab.json
PadFoneT004-10.12.3.94-kernel-src/
bootimg_tmp/
kernel/asus_a86/boot.img
kernel/xiaomi_mi4/Xiaomi_Kernel_OpenSource*
kernel/xiaomi_mi4/boot.img
kernel/test*
channel_est_test/
nexus_test/
at_commands/
fw_patching/scripts/func_find/tmp/
fw_patching/base_fw/test/
fw_patching/projects/pdcch_test/
fw_patching/projects/pdcch_dump_bak*
tools/pdcch_analyzer/data/
tools/pdcch_analyzer/Debug/pdcch_analyzer
tools/pdcch_analyzer/Release/pdcch_analyzer
tools/pdcch_analyzer/*.csv
tools/pdcch_analyzer/Debug/*.csv
tools/pdcch_analyzer/Release/*.csv
